<!DOCTYPE html>
<html>
  <body>
  <h1>CREATE NEW POST</h1>
  
  <a href="{{ logInOutUrl|safe }}">{{ logInOutUrlText }}</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href = "/"> HOME </a>
  
  <form enctype="multipart/form-data" method="post">
  	<label>Title: </label>
  	<input type="text" name="title">
  	<br>
  	<br>
	<label>Body: </label>
	<br>
	<textarea rows="20" cols="100" name="body"></textarea>
	<br>
	Enter Tags (separated by commas): <input type="text" name="tags"></input>
	<br>
  	<input type="submit" name="Create New Post"></input>

  	<div><label>Image:</label></div>
     <div><input type="file" name="img"/></div>
  </form>
  
  </body>
</html>